{{ define "main" }}
<p class="note-date">
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
  </time>
  {{ with .Title }}– {{ . }}{{ end }}
</p>
<content>
  {{ .Content }}
  {{ with .Resources.ByType "image" }}
  <div class="note-images">
    {{ range . }}
    {{ $img := .Resize "1200x" }}
    <img src="{{ $img.RelPermalink }}" alt="{{ .Title }}" loading="lazy" width="{{ $img.Width }}" height="{{ $img.Height }}" />
    {{ end }}
  </div>
  {{ end }}
</content>
<p>
  <a href="{{ .Parent.RelPermalink }}">← Back to notes</a>
</p>
{{ end }}
